body{
background-color: #353535;

}
.wojtus{
    background-color: #FFFFFF;
    height: 340px;
    width: 340px;
    position: absolute;
    top: 30%;
    left: 40%;
    -webkit-box-shadow: 8px 8px 12px 13px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 12px 13px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 12px 13px rgba(0, 0, 0, 1);
 border: 2px solid #3C6E71;
 border-radius: 5px;
}
#piotus{
    height: 100px;
    width: 340px;
    position: absolute;
    top: 15%;
    left: 47%;
}
#wygrana{
    font-size: 40px;
}
#nr1{
 border: 2px black solid;
 width: 100px;
 height: 100px;
 position: absolute;
 top: 10px;
 left: 10px;
}
#nr2{
    border: 2px black solid;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 120px;
}
#nr3{
    border: 2px black solid;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 230px;
}
#nr4{
    border: 2px black solid;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 10px;
}
#nr5{
    border: 2px black solid;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 120px;
}
#nr6{
    border: 2px black solid;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 230px;
}
#nr7{
    border: 2px black solid;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 230px;
    left: 10px;
    
}
#nr8{
    border: 2px black solid;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 230px;
    left: 120px;
}
#nr9{
    border: 2px black solid;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 230px;
    left: 230px;
}




